{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
</head>
<body>

    <script>
    var config = {
        type: Phaser.AUTO,
        width: 768,
        height: 416,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: {y: 400},
                debug: false
            }
        },
        scene: {
            preload: preload,
            create: create,
            update: update,
        }
    };

    var game = new Phaser.Game(config);
    var platforms;
    var cursors;
    var character;
    var score = 0;
    var scoreText;

    function preload ()
    {
      {
      this.load.image('sky0', 'assets/Final/Background_0.png');
      this.load.image('sky1', 'assets/Final/Background_1.png');
      this.load.image('enemy', 'assets/matts-badger.png');
      this.load.image('star', 'assets/star.png');
      this.load.image('ground', 'assets/platform.png');
      this.load.image('tiles', 'assets/tilesets/oak_woods_tileset.png');
      this.load.tilemapTiledJSON('map', 'assets/tilemaps/level3.json');
      this.load.atlas('character', 'assets/test/robspritesheet.png', 'assets/test/robsprites.json');
      }
    }
    function create ()
    { 
      {

        
        


        bg0 = this.add.image(384, 208, 'sky0');
        bg1 = this.add.image(384, 208, 'sky1');
        
        const map = this.make.tilemap({ key: 'map' });
        const tileset = map.addTilesetImage('matt_simple_platformer', 'tiles');
        const platforms = map.createStaticLayer('Platform', tileset, 0, 0);
        platforms.setCollisionByExclusion(-1, true);

        this.anims.create({key: 'standing', frames: this.anims.generateFrameNames('character', { prefix: 'standing', end: 1, zeroPad: 4 } 
        ), repeat: -1});
        this.anims.create({key: 'running', frames: this.anims.generateFrameNames('character', { prefix: 'running', end: 23, zeroPad: 4 } 
        ), repeat: -1});
        this.anims.create({key: 'jump', frames: this.anims.generateFrameNames('character', { prefix: 'jump', end: 13, zeroPad: 4 } 
        ), repeat: 0});
        character = this.physics.add.sprite(350, 100,  'character');
        this.physics.add.collider(character, platforms)
        cursors = this.input.keyboard.createCursorKeys();

        
        
        

        stars = this.physics.add.group({
          key: 'star',
          repeat: 5,
          setXY: { x: 40, y: 0, stepX: 125 }
          });
          stars.children.iterate(function (child) {
          child.setBounceY(Phaser.Math.FloatBetween(0.4, 0.8));
          });
        this.physics.add.collider(stars, platforms);
        this.physics.add.overlap(character, stars, collectStar, null, this);
        function collectStar (character, star)
        {
          star.disableBody(true, true);
        }

        scoreText = this.add.text(16, 16, 'score: 0', { fontSize: '32px', fill: '#fff' });
        function collectStar (player, star)
        {
          star.disableBody(true, true);
          score += 10;
          scoreText.setText('Score: ' + score);
          if (stars.countActive(true) === 0)
          {
            stars.children.iterate(function (child) {
              child.enableBody(true, child.x, 0, true, true);
            });

            var x = (character.x < 400) ? Phaser.Math.Between(400, 800) : Phaser.Math.Between(0, 400);
            var bomb = bombs.create(x, 16, 'enemy');
            bomb.setBounce(1);
            bomb.setCollideWorldBounds(true);
            bomb.setVelocity(Phaser.Math.Between(-200, 200), 20);
          }
        }

        bombs = this.physics.add.group();
        this.physics.add.collider(bombs, platforms);
        this.physics.add.collider(character, bombs, hitBomb, null, this);

        function hitBomb(character, bomb){
          this.physics.pause();
          character.setTint(0xff0000);
          character.anims.play('standing');
          gameOver = true;
        }
        camera = this.cameras.main;
        camera.setBounds(0, 0, 2500, 800);
        camera.startFollow(character, true, 0.05, 0.05, -200, 120);

        hud = this.add.container(0, 0, [scoreText, ]);
        //lock it to the camera
        hud.setScrollFactor(0);
        bg0.setScrollFactor(0);
        bg1.setScrollFactor(0);

        

    }
  }

  function update ()
  {
  



      if (cursors.left.isDown){    
        character.setVelocityX(-160);
        character.flipX = false;
        if (character.body.onFloor()){
        character.anims.play('running', true);
        }
      } else if (cursors.right.isDown){
        character.setVelocityX(160);
        character.flipX = true;
        if (character.body.onFloor()){
        character.anims.play('running', true);}
      } else {
        
        character.setVelocityX(0);
        character.play('standing');
      }
      if (cursors.up.isDown && character.body.onFloor()){
        character.setVelocityY(-330);
        character.play('jump')
      }
    }
    </script>

</body>
</html>
{% endblock %}
